// Override default variables before the import
$body-bg: rgb(255, 255, 255);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

a:hover, a:active, a:visited, a:link{
    text-decoration: none;
    color: rgb(0,0,0);
}

.headTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

.homeTitle{
    color: grey;
}

.footer{
    display: flex;
    justify-content: center;
}

.links{
    display: flex;
    justify-content: space-evenly;
}

button{
    margin-left: 5px;
}