// Override default variables before the import
$body-bg: antiquewhite;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

a:hover, a:active, a:visited, a:link{
    text-decoration: none;
    color: rgb(0,0,0);
}

.headTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, 40%);
}

.homeTitle{
    color: grey;
}

.footer{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, 35%);
}

.links{
    display: flex;
    justify-content: space-evenly;
}

button{
    margin-left: 5px;
}